.dialog {

	.right-bottom {
		grid-row: 2;
		grid-column: 3;
		color: var(--white);
		justify-self: flex-end;
		align-self: flex-start;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.muted {
		background-color: var(--pinned);
	}

	.pinned {
		background-color: var(--pinned);
		width: 24px;
		border-radius: 50%;
		svg {
            fill: var(--white);
		}
	}

	.unread {
		border-radius: var(--border-radius-default);
		min-width: 24px;
		color: var(--white);
		font-size: var(--font-size-small);
		text-align: center;
		background-color: var(--green);
		.count {
			padding: 0 6px;
		}
	}

	.out {
		position: relative;
		height: 14px;
		svg {
			width: 14px;
			height: 14px;
			bottom: -2px;
		}
	}
}