:root {
	--primary: rgb(79, 164, 246);
	--secondary: #777b7f;
	--gray: #9e9e9e;
	--light-gray: #f5f5f5;
	--right-gray: #eee;
	--dark-gray: rgb(106, 108, 111);
	--gray-300: #e0e0e0;
	--pinned: #c4c9cc;

	--font-size-small: 14px;
	--font-size-medium: 18px;
	--font-size-large: 24px;

	--border-radius-default: 24px;
	--border-radius-x-small: 8px;
	--border-radius-small: 12px;

	--indent-x-small: 2px;
	--indent-small: 4px;
	--indent-medium: 8px;
	--indent-large: 16px;
	--indent-x-large: 20px;
	--indent-xx-large: 24px;
	--indent-xxx-large: 32px;

	--green: #4dcd5e;
	--shadow: rgba(0, 0, 0, 0.75);
	--white: #fff;
	--red: rgb(197, 59, 57);
	--black: #000;
	--light-green: #eeffdf;
	--border-color: rgba(218, 220, 224, 0.75);
}
  

  img,
  svg,
  .icon {
	transition: all 0.2s;
	width: 24px;
	height: 24px;
  }

	.icon {
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.icon:hover {
		background: var(--light-gray);
		border-radius: 50%;
		cursor: pointer;
	}

  * {
	margin: 0;
	padding: 0;
  	font-family: 'Roboto', sans-serif;

	transition: all 0.1s ease-in;
	&::-webkit-scrollbar-track {
	  border: none;
	  border-radius: var(--border-radius-default);
	  background-color: var(--light-gray);
	  position: absolute;
	  right: 25px;
	}

	&::-webkit-scrollbar {
	  border-radius: var(--border-radius-default);
	  width: 6px;
	  background-color: var(--light-gray);
	  position: absolute;
	  right: 25px;
	}

	&::-webkit-scrollbar-thumb {
	  border-radius: var(--border-radius-default);
	  background-color: #e3e3e3;
	  position: absolute;
	  right: 25px;
	}
  }

  .loading {
	display: flex;
	justify-content: center;
	align-items: center;
	&::before {
	  content: "";
	  display: inline-block;
	  width: 50px;
	  height: 50px;
	  border: 3px solid transparent;
	  border-radius: 50%;
	  border-bottom-color: var(--primary);
	  border-right-color: var(--primary);
	  border-top-color: var(--primary);
	  animation: spin 1s ease-in-out infinite;
	}
  }

  ul {
	list-style: none;
	.active {
	  background-color: var(--light-gray);
	}
  }

  .icon {
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		width: 24px;
		height: 24px;
	}
	
	&:hover {
	  background: var(--light-gray);
	  border-radius: 50%;
	  cursor: pointer;
	}
  }

  .hide {
	display: none !important;
  }

  html {
	overflow: hidden;
  }

  body {
	box-sizing: border-box;
  }

  @keyframes spin {
	to {
	  transform: rotate(360deg);
	}
  }

  @-webkit-keyframes spin {
	to {
		transform: rotate(360deg);
	  }
  }

  
