html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

* {
	box-sizing: border-box;
}

.icon {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon:hover {
	background: var(--light-gray);
	border-radius: 50%;
	cursor: pointer;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	box-sizing: border-box;
}

input:not([type="checkbox"]) {
	box-sizing: border-box;
	width: 100%;
	height: 100%;

	padding-left: 12px;

	font-size: 18px;

	border-radius: 12px;
	border: 2px solid var(--border-color);

	user-select: none;
}

input:not([type="checkbox"]):focus {
	outline: none;
	border: 2px solid var(--primary);
	caret-color: var(--primary);
}

input:not([type="checkbox"]):valid + 	label {
	color: var(--gray);
}

input:not([type="checkbox"]):focus + 	label {
	color: var(--primary)
}

input.invalid + label {
	color: var(--red);
	bottom: 45px;
	font-size: 12px;
	background: var(--white);
	padding: 2px;
}

input:not([type="checkbox"]):focus + 	label,
input:not([type="checkbox"]):valid + 	label {
	bottom: 45px;
	font-size: 12px;

	background: var(--white);
	padding: 2px;
}

.input-group {
	display: flex;
	align-items: center;
	position: relative;
	width: 360px;
	height: 54px;
	font-family: inherit;
	font-size: inherit;
	box-sizing: border-box;
	border-radius: 2px;
}

.input-group label {
	color: var(--dark-gray);
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 14px;
	bottom: 18px;
	transition: 0.2s ease all;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
